.elementor-1878 .elementor-element.elementor-element-5c614333 {
  padding: 25px 0px 30px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-1753e2ea
  > .elementor-element-populated {
  padding: 0px 5px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .ts-overlay-style
  .item {
  min-height: 640px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .digiqole-main-slider
  .post-slide-item {
  min-height: 640px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slide.style4
  .digiqole-main-slider
  .post-content
  .post-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .post-content
  .post-title {
  margin: 8px 0px 8px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slide.style4
  .post-content
  .post-title {
  margin: 8px 0px 8px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .post-meta-info
  li,
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slide
  .post-meta-info
  li {
  line-height: 2.4em;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .owl-dots
  .owl-dot.active
  span {
  background-color: #fc4a00;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .owl-dots {
  left: 40px;
  top: 50%;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slider
  .post-content {
  padding: 40px 40px 35px 45px;
}
.elementor-1878
  .elementor-element.elementor-element-f075111
  .main-slide
  .post-content {
  padding: 40px 40px 35px 45px;
}
.elementor-1878
  .elementor-element.elementor-element-68ef10d7
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1878
  .elementor-element.elementor-element-68ef10d7
  > .elementor-element-populated {
  padding: 0px 15px 0px 5px;
}
.elementor-1878
  .elementor-element.elementor-element-7970a807
  .featured-post
  .item {
  min-height: 405px;
}
.elementor-1878 .elementor-element.elementor-element-7970a807 .grid-item {
  margin: 0px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-7970a807
  .ts-overlay-style.featured-post
  .post-content
  .post-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 10px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-7970a807
  .ts-overlay-style
  .post-meta-info
  li {
  line-height: 2em;
}
.elementor-1878
  .elementor-element.elementor-element-7970a807
  .ts-overlay-style.featured-post
  .post-content {
  padding: 25px 25px 25px 30px;
}
.elementor-1878
  .elementor-element.elementor-element-7c808275
  .featured-post
  .item {
  min-height: 225px;
}
.elementor-1878 .elementor-element.elementor-element-7c808275 .grid-item {
  margin: 0px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-7c808275
  .ts-overlay-style.featured-post
  .post-content
  .post-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 10px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-7c808275
  .ts-overlay-style
  .post-meta-info
  li {
  line-height: 2em;
}
.elementor-1878
  .elementor-element.elementor-element-7c808275
  .ts-overlay-style.featured-post
  .post-content {
  padding: 25px 25px 25px 30px;
}
.elementor-1878
  .elementor-element.elementor-element-7c808275
  .ts-overlay-style::before {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(252, 74, 0, 0.89) 0%,
    rgba(252, 74, 0, 0.89) 100%
  );
}
.elementor-1878 .elementor-element.elementor-element-53ddc0de {
  padding: 10px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-58c8162
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1878
  .elementor-element.elementor-element-58c8162
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-1e723684
  .section-heading
  .block-title {
  text-align: left;
}
.elementor-1878
  .elementor-element.elementor-element-1e723684
  .block-title.title-border {
  margin: 0px 0px 25px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-1e723684
  .heading-style3
  .block-title {
  margin: 0px 0px 25px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-1e723684
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-387b3322
  .featured-post
  .item {
  min-height: 310px;
}
.elementor-1878
  .elementor-element.elementor-element-387b3322
  .ts-overlay-style.featured-post
  .post-content
  .post-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  margin: 8px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-387b3322
  .weekend-top
  .owl-dots {
  right: 0px;
  top: -50px;
}
.elementor-1878
  .elementor-element.elementor-element-387b3322
  .ts-overlay-style
  .post-content {
  padding: 25px 15px 20px 25px;
}
.elementor-1878
  .elementor-element.elementor-element-387b3322
  > .elementor-widget-container {
  margin: 0px 0px 2px 0px;
}
.elementor-1878 .elementor-element.elementor-element-61505dd8 {
  padding: 10px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-6a3583ca
  > .elementor-element-populated {
  padding: 0px 30px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-7fc4cdd4
  .block-title.title-border {
  margin: 0px 0px 25px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-7fc4cdd4
  .heading-style3
  .block-title {
  margin: 0px 0px 25px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-7fc4cdd4
  .block-title.title-border
  .title-bg:after {
  right: -15px;
}
.elementor-1878
  .elementor-element.elementor-element-7fc4cdd4
  .featured-tab
  .post-content
  .post-title {
  font-size: 24px;
  font-weight: 700;
}
.elementor-1878
  .elementor-element.elementor-element-7fc4cdd4
  .post-block-list
  .post-block-style
  .post-title.title-small {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.elementor-1878
  .elementor-element.elementor-element-7fc4cdd4
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-33a62336:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-1878
  .elementor-element.elementor-element-33a62336
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-33a62336
  > .elementor-element-populated,
.elementor-1878
  .elementor-element.elementor-element-33a62336
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1878
  .elementor-element.elementor-element-33a62336
  > .elementor-background-slideshow {
  border-radius: 5px 5px 5px 5px;
}
.elementor-1878
  .elementor-element.elementor-element-33a62336
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 50px 0px;
  padding: 40px 40px 0px 40px;
}
.elementor-1878
  .elementor-element.elementor-element-33a62336
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1878
  .elementor-element.elementor-element-78f70d1f
  .section-heading
  .block-title {
  text-align: left;
  color: #ffffff;
}
.elementor-1878
  .elementor-element.elementor-element-78f70d1f
  .heading-style3
  .block-title
  .title-angle-shap:before {
  background: #ffffff;
}
.elementor-1878
  .elementor-element.elementor-element-78f70d1f
  .heading-style3
  .block-title
  .title-angle-shap:after {
  background: #ffffff;
}
.elementor-1878
  .elementor-element.elementor-element-78f70d1f
  .block-title.title-border {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-78f70d1f
  .heading-style3
  .block-title {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-78f70d1f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-style
  .post-thumb
  .item,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .ts-overlay-style {
  min-height: 260px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-title
  a {
  color: #ffffff;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-title:hover
  a {
  color: #fc4a00;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-float
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-style7
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .bg-feature-post
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post.style2
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post-tab.style3
  .order-md-1
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post.style4
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post.style6
  .post-feature
  .post-block-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.style3
  .feature-grid-content
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.style3
  .feature-grid-content
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post.style1
  .post-content
  .post-title.md {
  font-size: 24px;
  line-height: 28px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-float
  .post-content
  .post-title {
  margin: 20px 0px 12px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.style3
  .feature-grid-content
  .post-title {
  margin: 20px 0px 12px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-style
  .post-content
  .post-title {
  margin: 20px 0px 12px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post
  .post-block-style
  .post-title {
  margin: 20px 0px 12px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post
  .post-content
  .post-title {
  margin: 20px 0px 12px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post
  .ts-overlay-style
  .post-title {
  margin: 20px 0px 12px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .list-item
  .item
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.style5
  .post-block-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post.style2
  .post-block-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post-tab.style3
  .order-md-2
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post.style4
  .post-block-list
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.block-item-post.style6
  .post-block-style.style7
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-block-item.style3
  .sm-grid-content
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post.style1
  .post-block-list
  .post-block-style
  .post-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 19px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .sm-grid-content
  .post-float
  .post-content
  .post-title {
  margin: 0px 0px 5px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .block-item-post
  .post-float
  .post-content
  .post-title {
  margin: 0px 0px 5px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-meta
  span,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-meta
  span
  a,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-meta
  span
  i {
  color: #999999;
}
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-meta-info
  li,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-meta-info
  li
  a,
.elementor-1878
  .elementor-element.elementor-element-4c2d7e56
  .post-content
  .post-meta-info
  li
  i {
  color: #999999;
}
.elementor-1878
  .elementor-element.elementor-element-1b831df5
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-24b69cd9
  .section-heading
  .block-title {
  text-align: left;
  color: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-24b69cd9
  .heading-style3
  .block-title
  .title-angle-shap:before {
  background: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-24b69cd9
  .heading-style3
  .block-title
  .title-angle-shap:after {
  background: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-24b69cd9
  .block-title.title-border {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-24b69cd9
  .heading-style3
  .block-title {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-24b69cd9
  > .elementor-widget-container {
  margin: 0px 5px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-5164de3d
  > .elementor-widget-container {
  margin: 0px 0px 25px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-4c57ac0
  > .elementor-widget-container {
  margin: 0px 0px 35px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-74cbf30f
  .post-list-item
  .post-content.media
  .post-title {
  font-size: 18px;
  line-height: 18px;
}
.elementor-1878
  .elementor-element.elementor-element-74cbf30f
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-2061a215:not(.elementor-motion-effects-element-type-background),
.elementor-1878
  .elementor-element.elementor-element-2061a215
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-1878 .elementor-element.elementor-element-2061a215 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-2061a215
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1878 .elementor-element.elementor-element-5c517b36 .item {
  min-height: 175px;
}
.elementor-1878
  .elementor-element.elementor-element-5c517b36
  .digiqole-post-slider
  .post-thumb {
  min-height: 175px;
}
.elementor-1878
  .elementor-element.elementor-element-5c517b36
  .post-content
  .post-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}
.elementor-1878
  .elementor-element.elementor-element-5c517b36
  .post-slider.style1
  .owl-nav {
  top: -50px;
  right: 30px;
}
.elementor-1878 .elementor-element.elementor-element-2df75866 {
  padding: 50px 0px 30px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-2a19a800
  > .elementor-element-populated {
  padding: 0px 30px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-6a650e17
  .section-heading
  .block-title {
  text-align: left;
  color: #007bff;
}
.elementor-1878
  .elementor-element.elementor-element-6a650e17
  .heading-style3
  .block-title
  .title-angle-shap:before {
  background: #007bff;
}
.elementor-1878
  .elementor-element.elementor-element-6a650e17
  .heading-style3
  .block-title
  .title-angle-shap:after {
  background: #007bff;
}
.elementor-1878
  .elementor-element.elementor-element-6a650e17
  .block-title.title-border {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-6a650e17
  .heading-style3
  .block-title {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-style
  .post-thumb
  .item,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .ts-overlay-style {
  min-height: 192px;
}
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-float
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-style7
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .bg-feature-post
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post.style2
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post-tab.style3
  .order-md-1
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post.style4
  .ts-overlay-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post.style6
  .post-feature
  .post-block-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.style3
  .feature-grid-content
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.style3
  .feature-grid-content
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .block-item-post
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .block-item-post.style1
  .post-content
  .post-title.md {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .list-item
  .item
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.style5
  .post-block-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post.style2
  .post-block-style
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post-tab.style3
  .order-md-2
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post.style4
  .post-block-list
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.block-item-post.style6
  .post-block-style.style7
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .post-block-item.style3
  .sm-grid-content
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2ec806e3
  .block-item-post.style1
  .post-block-list
  .post-block-style
  .post-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.elementor-1878
  .elementor-element.elementor-element-278030b0
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-36881ca2
  .ts-category-list
  li
  a,
.ts-category-list-thumb .ts-category-list a {
  min-height: 100px;
}
.elementor-1878
  .elementor-element.elementor-element-2c5e8e7
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-1878 .elementor-element.elementor-element-a29a3c {
  padding: 50px 0px 20px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-f28e52f
  > .elementor-element-populated {
  padding: 0px 30px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-19a45928
  .section-heading
  .block-title {
  text-align: left;
}
.elementor-1878
  .elementor-element.elementor-element-19a45928
  .block-title.title-border {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-19a45928
  .heading-style3
  .block-title {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-3373257d
  .vertical-post-grid
  .item.ts-overlay-style {
  margin: 0px 0px 30px 0px;
  border-radius: 5px 5px 5px 5px !important;
}
.elementor-1878
  .elementor-element.elementor-element-3373257d
  .vertical-grid-style
  .post-block-style {
  margin: 0px 0px 30px 0px;
}
.elementor-1878 .elementor-element.elementor-element-3373257d .item {
  min-height: 225px;
}
.elementor-1878
  .elementor-element.elementor-element-3373257d
  .post-content
  .post-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.elementor-1878
  .elementor-element.elementor-element-3373257d
  .vertical-grid-style
  .post-block-style
  .post-thumb {
  border-radius: 5px 5px 5px 5px;
}
.elementor-1878
  .elementor-element.elementor-element-e6e2f6c
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-64329ae8
  .section-heading
  .block-title {
  text-align: left;
  color: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-64329ae8
  .heading-style3
  .block-title
  .title-angle-shap:before {
  background: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-64329ae8
  .heading-style3
  .block-title
  .title-angle-shap:after {
  background: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-64329ae8
  .block-title.title-border {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-64329ae8
  .heading-style3
  .block-title {
  margin: 0px 0px 0px 0px;
}
.elementor-1878 .elementor-element.elementor-element-7c426629 {
  padding: 0px 0px 0px 0px;
}
.elementor-1878 .elementor-element.elementor-element-2090ad0b .item {
  min-height: 536px;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .digiqole-post-slider
  .post-thumb {
  min-height: 536px;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .post-content
  .post-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .post-slider
  .post-content
  .post-title {
  margin: 8px 0px 10px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .post-slider
  .ts-overlay-style
  .post-content {
  padding: 40px 40px 35px 40px;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .post-slider.style1
  .owl-nav {
  top: -50px;
  right: 30px;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .post-slider
  .ts-overlay-style
  .item,
.ts-overlay-style.item {
  border-radius: 0px 0px 0px 0px !important;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .post-slider
  .post-block-style
  .post-thumb {
  border-radius: 0px 0px 0px 0px !important;
}
.elementor-1878
  .elementor-element.elementor-element-2090ad0b
  .ts-overlay-style::before {
  border-radius: 0px 0px 0px 0px !important;
}
.elementor-1878 .elementor-element.elementor-element-3858afa6 {
  padding: 50px 0px 40px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-72fb4780
  > .elementor-element-populated {
  padding: 0px 30px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-399f7306
  .section-heading
  .block-title {
  text-align: left;
}
.elementor-1878
  .elementor-element.elementor-element-399f7306
  .block-title.title-border {
  margin: 0px 0px 0px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-399f7306
  .heading-style3
  .block-title {
  margin: 0px 0px 0px 0px;
}
.elementor-1878 .elementor-element.elementor-element-2c3070ef .grid-item {
  margin: 0px 0px 30px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-2c3070ef
  .ts-overlay-style.featured-post
  .post-content
  .post-title,
.elementor-1878
  .elementor-element.elementor-element-2c3070ef
  .post-block-style
  .post-content
  .post-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.elementor-1878
  .elementor-element.elementor-element-1278fea7
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-1878
  .elementor-element.elementor-element-79f0dd5e
  .section-heading
  .block-title {
  text-align: left;
  color: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-79f0dd5e
  .heading-style3
  .block-title
  .title-angle-shap:before {
  background: #000000;
}
.elementor-1878
  .elementor-element.elementor-element-79f0dd5e
  .heading-style3
  .block-title
  .title-angle-shap:after {
  background: #000000;
}
.elementor-1878 .elementor-element.elementor-element-7737e3f2 .author-comments {
  text-align: left;
}
.elementor-1878
  .elementor-element.elementor-element-7737e3f2
  .ts-comments-row
  .comment
  a:hover {
  color: #fc4a00;
}
.elementor-1878
  .elementor-element.elementor-element-7737e3f2
  .ts-comments-row
  .comment
  a {
  font-size: 14px;
}
.elementor-1878
  .elementor-element.elementor-element-7737e3f2
  .row.ts-comments-row.align-items-center.mb-50 {
  margin-bottom: 50px;
}
.elementor-1878 .elementor-element.elementor-element-3282d3f {
  padding: 0px 0px 50px 0px;
}
.elementor-1878
  .elementor-element.elementor-element-3acf363
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
@media (min-width: 768px) {
  .elementor-1878 .elementor-element.elementor-element-1753e2ea {
    width: 65.965%;
  }
  .elementor-1878 .elementor-element.elementor-element-68ef10d7 {
    width: 34.035%;
  }
  .elementor-1878 .elementor-element.elementor-element-6a3583ca {
    width: 70%;
  }
  .elementor-1878 .elementor-element.elementor-element-1b831df5 {
    width: 30%;
  }
  .elementor-1878 .elementor-element.elementor-element-2a19a800 {
    width: 70%;
  }
  .elementor-1878 .elementor-element.elementor-element-278030b0 {
    width: 30%;
  }
  .elementor-1878 .elementor-element.elementor-element-f28e52f {
    width: 70%;
  }
  .elementor-1878 .elementor-element.elementor-element-e6e2f6c {
    width: 30%;
  }
  .elementor-1878 .elementor-element.elementor-element-72fb4780 {
    width: 70%;
  }
  .elementor-1878 .elementor-element.elementor-element-1278fea7 {
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1878 .elementor-element.elementor-element-1753e2ea {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-68ef10d7 {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-6a3583ca {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-1b831df5 {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-2a19a800 {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-278030b0 {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-f28e52f {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-e6e2f6c {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-72fb4780 {
    width: 100%;
  }
  .elementor-1878 .elementor-element.elementor-element-1278fea7 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-1878 .elementor-element.elementor-element-5c614333 {
    padding: 30px 0px 20px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-1753e2ea
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slider
    .ts-overlay-style
    .item {
    min-height: 399px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .digiqole-main-slider
    .post-slide-item {
    min-height: 399px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slider
    .owl-dots {
    left: 50px;
    top: 38%;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-68ef10d7
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-7970a807
    .featured-post
    .item {
    min-height: 310px;
  }
  .elementor-1878 .elementor-element.elementor-element-7970a807 .grid-item {
    margin: 0px 0px 30px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-7c808275
    .featured-post
    .item {
    min-height: 310px;
  }
  .elementor-1878 .elementor-element.elementor-element-7c808275 .grid-item {
    margin: 0px 0px 30px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-387b3322
    .featured-post
    .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-387b3322
    .weekend-top
    .owl-dots {
    right: 0px;
    top: -50px;
  }
  .elementor-1878
    .elementor-element.elementor-element-6a3583ca
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-33a62336
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-74cbf30f
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-1878 .elementor-element.elementor-element-5c517b36 .item {
    min-height: 300px;
  }
  .elementor-1878
    .elementor-element.elementor-element-5c517b36
    .digiqole-post-slider
    .post-thumb {
    min-height: 300px;
  }
  .elementor-1878
    .elementor-element.elementor-element-5c517b36
    .post-slider.style1
    .owl-nav {
    top: -50px;
    right: 30px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2a19a800
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2ec806e3
    .post-block-style
    .post-thumb
    .item,
  .elementor-1878
    .elementor-element.elementor-element-2ec806e3
    .ts-overlay-style {
    min-height: 300px;
  }
  .elementor-1878
    .elementor-element.elementor-element-278030b0
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-36881ca2
    .ts-category-list
    li
    a,
  .ts-category-list-thumb .ts-category-list a {
    min-height: 80px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f28e52f
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878 .elementor-element.elementor-element-3373257d .item {
    min-height: 300px;
  }
  .elementor-1878
    .elementor-element.elementor-element-3373257d
    .vertical-post-grid
    .post-content
    .post-title {
    margin: 5px 0px 5px 0px !important;
  }
  .elementor-1878
    .elementor-element.elementor-element-3373257d
    .vertical-grid-style
    .post-content
    .post-title {
    margin: 5px 0px 5px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-e6e2f6c
    > .elementor-element-populated {
    padding: 0px 15px 30px 15px;
  }
  .elementor-1878 .elementor-element.elementor-element-2090ad0b .item {
    min-height: 300px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2090ad0b
    .digiqole-post-slider
    .post-thumb {
    min-height: 300px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2090ad0b
    .post-slider.style1
    .owl-nav {
    top: -50px;
    right: 30px;
  }
  .elementor-1878
    .elementor-element.elementor-element-72fb4780
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-1278fea7
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-7737e3f2
    .row.ts-comments-row.align-items-center.mb-50 {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slider
    .ts-overlay-style
    .item {
    min-height: 404px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .digiqole-main-slider
    .post-slide-item {
    min-height: 404px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slider
    .post-content
    .post-title,
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slide.style4
    .digiqole-main-slider
    .post-content
    .post-title {
    font-size: 24px;
    line-height: 28px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slider
    .owl-dots {
    left: 23px;
    top: 27%;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slider
    .post-content {
    padding: 30px 40px 20px 30px;
  }
  .elementor-1878
    .elementor-element.elementor-element-f075111
    .main-slide
    .post-content {
    padding: 30px 40px 20px 30px;
  }
  .elementor-1878
    .elementor-element.elementor-element-7970a807
    .featured-post
    .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-7c808275
    .featured-post
    .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-387b3322
    .featured-post
    .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-387b3322
    .weekend-top
    .owl-dots {
    right: 0px;
    top: -50px;
  }
  .elementor-1878
    .elementor-element.elementor-element-6a3583ca
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1878
    .elementor-element.elementor-element-4c2d7e56
    .post-block-style
    .post-thumb
    .item,
  .elementor-1878
    .elementor-element.elementor-element-4c2d7e56
    .ts-overlay-style {
    min-height: 250px;
  }
  .elementor-1878 .elementor-element.elementor-element-5c517b36 .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-5c517b36
    .digiqole-post-slider
    .post-thumb {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-5c517b36
    .post-slider.style1
    .owl-nav {
    top: -50px;
    right: 30px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2ec806e3
    .post-block-style
    .post-thumb
    .item,
  .elementor-1878
    .elementor-element.elementor-element-2ec806e3
    .ts-overlay-style {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-36881ca2
    .ts-category-list
    li
    a,
  .ts-category-list-thumb .ts-category-list a {
    min-height: 70px;
  }
  .elementor-1878 .elementor-element.elementor-element-a29a3c {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1878 .elementor-element.elementor-element-3373257d .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-3373257d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1878
    .elementor-element.elementor-element-e6e2f6c
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
  }
  .elementor-1878 .elementor-element.elementor-element-2090ad0b .item {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2090ad0b
    .digiqole-post-slider
    .post-thumb {
    min-height: 250px;
  }
  .elementor-1878
    .elementor-element.elementor-element-2090ad0b
    .post-slider.style1
    .owl-nav {
    top: -50px;
    right: 30px;
  }
  .elementor-1878
    .elementor-element.elementor-element-7737e3f2
    .row.ts-comments-row.align-items-center.mb-50 {
    margin-bottom: 30px;
  }
}
