.slider-container {
  width: 65%;
}
@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  .slider-container {
    width: 100%;
    height: auto;
  }
}
.sl-container-0 {
  position: relative;
}

.sl-container-2 {
  position: relative;
  height: 392px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  .sl-container-2 {
    height: 300px;
  }
}
.sl-container-3 {
  position: relative;
  height: 200px;
}
@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  .sl-container-3 {
    height: 300px;
  }
}
.sl-img-con {
  padding: 4px;
}

.infor-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}
.infor-content {
  margin: 16px;
}
.category-container {
  display: flex;
}
.category {
  font-size: 11px;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  font-weight: 700;
}
.title-container {
  font-size: 36px;
  font-weight: 800;
  margin: 0px;
}
.title {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.note-container {
  display: flex;
  margin-left: 4px;
}
.note {
  margin-right: 16px;
}
.note-fire {
  color: orangered;
}
.pd-ic {
  margin-right: 8px;
}
.vertical-dots {
  left: 10px;
  list-style: none;
  display: block;
  position: absolute;
  top: 40%;
  text-align: center;
}
.vertical-dots li {
  position: relative;
  width: 20px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
}
.vertical-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.vertical-dots li button:hover,
.vertical-dots li button:focus {
  outline: none;
}
.vertical-dots li button:hover:before,
.vertical-dots li button:focus:before {
  opacity: 1;
}
.vertical-dots li button:before {
  font-family: "slick";
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: lightgray;
  content: ".";
  text-align: center;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vertical-dots li.slick-active button:before {
  opacity: 1;
  background-color: #fc4a00;
}

.ss-w-732 {
  width: 732px;
  margin-right: 30px;
}

.ss-cl-fff {
  color: #ffffff;
}
