.bg-dark {
  display: flex;
  flex-direction: column;
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  font-size: 14px;
  align-items: center;
}

.bg-light {
  background-color: #fff;
  color: #1f1f1f;
  font-family: "Roboto";
  width: 100%;
  font-size: 14px;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.cl-or {
  color: #fc4a00;
}

.cur-po {
  cursor: pointer;
}

.cur-po:hover {
  color: #fc4a00;
}

.txt_clip {
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.w-100 {
  width: 100%;
}
