.bg-dark {
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto";
  width: 100%;
}

.bg-light {
  background-color: #fff;
  color: #1f1f1f;
  font-family: "Roboto";
  width: 100%;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}
