.pd-15 {
  padding: 15px;
}
.horizontal-dots {
  list-style: none;
  display: flex !important;
  position: absolute;
  left: 45%;
}
.horizontal-dots li {
  position: relative;
  width: 20px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
}
.horizontal-dots li button {
  font-size: 0;
  line-height: 0;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.horizontal-dots li button:hover,
.horizontal-dots li button:focus {
  outline: none;
}
.horizontal-dots li button:hover:before,
.horizontal-dots li button:focus:before {
  opacity: 1;
}
.horizontal-dots li button:before {
  font-family: "slick";
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: lightgray;
  content: ".";
  text-align: center;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.horizontal-dots li.slick-active button:before {
  opacity: 1;
  background-color: #fc4a00;
}

.hide-froala {
  width: 100%;
  height: 50px;
  background-color: #FFF;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 100;
  margin: 0
}

@media screen and (max-width: 768px) {
  .hide-froala {
    height: 40px;
  }
}