.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-bottom: 15px;
}
.pd-15 {
  padding-right: 15px;
  padding-left: 15px;
}
.pd-5 {
  padding: 5px;
}
.min-h-310 {
  min-height: 310px;
  object-fit: cover;
}
.fz-13 {
    font-size: 13px;
}
.sub-title {
    display: flex;
    flex-direction: row;
}
.min-h-48 {
    min-height: 48px;
}
